<!DOCTYPE html>
<html>

	<head>
		<title>Macro Login </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styleLogin.css') }}">
	</head>
<body>	

	<div id="wrap"> 
		<header id="head" class="front">
			<h1>Macro Login</h1>
			<form id="login"> 
				<label for="username" > Username</label>
				<input required placeholder="Enter here" type="text" id= "username" name="username">
				<br><br>
				<label for="pass">Password </label>
				<input type="password" id="password" name="password" placeholder="Enter here">
				<button id="loginBtn" type="submit"> Login </button>


			</form>

		</header>


	</div>



<script src="{{ url_for('static', filename='loginJs.js') }}"></script>
</body>	
</html>	
