<!DOCTYPE html>
<html>
	<head>
	<title>Macro Tracker MartinZ</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='fontstyle.css') }}">
	</head>
	<body> <!-- this is where the users name will apearr-->
		<header class="center"> <h1> Welcome back "user"</h1></header>
	<main class="center" id="mainP">
		<section id="meal" class="center"> 
		<form method= "POST"> 
			<label for="enterMeal">Enter meal </label>
			</br>
			<!-- this is where meal is stored id "enterMeal"--> <!-- add = -->
		<input name ="enterMeal" id="enterMeal" type="text" placeholder="Enter meal">
		</br></br>
		<p> Enter Macros</p>
		<label for="cal"> Calories</label>
		<!--this is where cals are stored id "cal" -->
		<input id="cal" name="cal" type="number" required placeholder="Enter Cals here"/>
		<label for="fats">Fats (g):</label>
				<!--this is where fats are stored id "fats" -->
				<input id="fats" name="fats" type="number" placeholder="Enter fats in grams" />
					<br />

					<label for="protein">Protein (g):</label>
					<!-- this is where protein is stored id "protein" -->
				<input id="protein" name="protein" type="number" placeholder="Enter protein in grams" />
					<br />

					<label for="carbs">Carbs (g):</label>
					<!-- this is where carbs are stored id "carbs" -->
				<input id="carbs" name="carbs" type="number" placeholder="Enter carbs in grams" />
					<br />
					<button id="logbtn" class="btn" type="submit"> Log Meal.</button>
		
			</form>
			<div id="final" > 
				<section id="week">
			<div id="mon">1</div>
			<div id="tue">2</div>
			<div id ="wed">3</div>
			<div id="thur">4</div>
			<div id="fri">5</div>
			<div id="sat">6</div>
			<div id="sun">7</div>
				</section>

			</div>
		</section>
	</main>
	<script src="{{ url_for('static', filename='macroJs.js') }}"></script>

	</body>




</html>
